.label {
    width: {{ label_width }};
    height: {{ label_height }};
    box-sizing: border-box;
    padding: 2mm;
    display: grid;
    grid-template-rows: 50% 30% 20%;
    grid-template-columns: 50% 50%;
    page-break-inside: avoid;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 200%;
    font-weight: 600;
    padding: 2mm;
    position: relative;
    padding-right: 30mm; /* Make room for QR code */
    border: 1px solid #ccc;
}

.middle-left {
    grid-column: 1;
    grid-row: 2;
    font-size: 170%;
    font-weight: 600;
    padding: 3mm;
    position: relative;
    border: 1px solid #ccc;
}

.middle-right {
    grid-column: 2;
    grid-row: 2;
    font-size: 170%;
    font-weight: 600;    
    padding: 3mm;
    position: relative;
    border: 1px solid #ccc;
}

.qr-code {
    position: absolute;
    top: 1mm;
    right: 1mm;
    width: 30%;
    height: auto;
    z-index: 10;
    background-color: white;
    padding: 2px;
}

.label-text {
    display: block;
    font-size:70%;
    color: #999;
    margin-top: 2mm;
}

/* Bottom row styles - these will be extended by specific templates */
.bottom-full {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: 70%;
    padding: 3mm;
    position: relative;
    border: 1px solid #ccc;
}

.bottom-left {
    grid-column: 1;
    grid-row: 3;
    font-size: 70%;
    padding: 3mm;
    position: relative;
    border: 1px solid #ccc;
}

.bottom-right {
    grid-column: 2;
    grid-row: 3;
    font-size: 70%;
    padding: 3mm;
    position: relative;
    border: 1px solid #ccc;
}

/* Additional styles for specific label types can be added in the extending templates */
