services:
  production_control:
    image: ghcr.io/serraict/wetering-production-control:latest
    ports:
      - "7901:8080"
    env_file:
      - .env
    networks:
      - serra-vine

  firebird:
    image: wmakley/firebird-2.5-cs
    environment:
      ISC_PASSWORD: masterkey
      FIREBIRD_DATABASE: production.fdb
      FIREBIRD_USER: SYSDBA
    ports:
      - "3050:3050"
    volumes:
      - firebird_data:/firebird/data
      - ./scripts/firebird:/docker-entrypoint-initdb.d
    networks:
      - serra-vine

networks:
  serra-vine:
    external: true

volumes:
  firebird_data:
