{% extends "labels_base.html.jinja2" %}
{% import "svg_icons.html.jinja2" as svg %}

{% block title %}Bulb Pick List Labels{% endblock %}

{% block label_content %}

<div class="header">
    {{ record.ras }} <br />
    {{ record.oppot_week }}
    <img src="{{ record.qr_code }}" alt="QR Code" class="qr-code">
</div>

<div class="middle-left">
    {{ svg.lily_pot() }}
    {{ record.id }} {{ record.artikel }}
</div>
<div class="middle-right">
    {{ svg.lily_bulb() }}
    {{ record.bollen_code }}
</div>

<div class="bottom-left">
    {{ record.locatie }}
</div>
<div class="bottom-right">
    {{ record.pallet_info }} - {{ record.aantal_bakken|int }} kratten totaal
</div>

{% endblock %}
