{% extends "labels_base.html.jinja2" %}
{% import "svg_icons.html.jinja2" as svg %}

{% block title %}Bulb Pick List Labels{% endblock %}

{% block label_content %}
<table class="label-table">
    <tr class="header-row">
        <td class="header-cell" colspan="3">
            {{ record.ras }}
            ~{{ record.oppot_week }}
        </td>
        <td class="header-cell">
            <img src="{{ record.qr_code }}" alt="QR Code" class="qr-code">
        </td>
    </tr>
    <tr class="middle-row">
        <td class="middle-cell" colspan="2">
            {{ svg.lily_pot() }}
            {{ record.id }} {{ record.artikel }}
        </td>
        <td class="middle-cell" colspan="2">
            {{ svg.lily_bulb() }}
            {{ record.bollen_code }}
        </td>
    </tr>
    <tr class="bottom-row">
        <td class="bottom-cell" colspan="2">
            {{ record.locatie }}
        </td>
        <td class="bottom-cell" colspan="2">
            {{ record.pallet_info }} - {{ record.aantal_bakken|int }} kratten totaal
        </td>
    </tr>
</table>
{% endblock %}
