{% extends "labels_base.html.jinja2" %}

{% block title %}Potting Lot Labels{% endblock %}

{% block label_content %}
<div class="header">
    {{ record.naam }} <br />
    {{ record.klant_code|default('', true) }}
    <span class="url-text">{{ record.scan_url }}</span>
    <img src="{{ record.qr_code }}" alt="QR Code" class="qr-code">
</div>

<div class="middle-left">
    {{ record.bollen_code }}
    <span class="label-text">Bollencode</span>
</div>
<div class="middle-right">
    {{ record.id }}
    <span class="label-text">Oppotpartij</span>
</div>

<div class="bottom-full">
    {{ record.oppot_datum }}
    <span class="label-text">Oppot Datum</span>
</div>
{% endblock %}
