{% extends "labels_base.html.jinja2" %}

{% block title %}Potting Lot Labels{% endblock %}

{% block label_content %}
<div class="header">
    {{ record.naam }}
    {{ record.klant_code|default('', true) }}
    <img src="{{ record.qr_code }}" alt="QR Code" class="qr-code">
</div>

<div class="middle-left">
    🪴{{ record.id }}
</div>
<div class="middle-right">
    🌱{{ record.bollen_code }}
</div>

<div class="bottom-full">
    {{ record.oppot_datum }} |
    {{ record.bolmaat }} |
    {{ record.cert_nr|default('', true) }}
</div>
{% endblock %}